$primary-color: rgb(140, 77, 249);
$primary-alt-color: rgb(231, 245, 241);

$secondary-color: #2b2b5c;
$secondary-alt-color: rgb(230, 240, 239);

$ternary-color: rgb(25, 45, 53);
$ternary-alt-color: rgb(232, 234, 234);

$gray: rgb(128, 128, 128);

$default-text-color: $gray;
$default-icon-color: $gray;

$error-color: rgb(219, 53, 71);
$link-color: $primary-color;

$page-bg-color: rgba(124, 0, 255, 0.01);
$page-bg-color: #f3f1f2;

$fixed-header-gradient-from-color: $primary-color;
$fixed-header-gradient-to-color: lighten($primary-color, 10%);

$fixed-header-background: linear-gradient(
  90deg,
  $fixed-header-gradient-from-color 0%,
  $fixed-header-gradient-to-color 100%
);

$elevated-search-icon-color: rgb(170, 170, 170);
$elevated-search-bg-color: white;
$elevated-search-text-color: black;

$modal-wrapper-bg-color: rgba(0, 0, 0, 0.9);
$modal-bg-color: $page-bg-color;
$modal-close-icon-bg-color: rgba(41, 44, 90, 0.5);
$modal-close-icon-color: #f3f1f2;

$payment-request-pending-bg-color: rgba(250, 215, 16, 0.2);
$payment-request-paid-bg-color: rgba(0, 255, 0, 0.2);
$payment-receiver-bg-color: rgba(0, 255, 0, 0.2);
$payment-sender-bg-color: rgba(255, 0, 0, 0.2);
$payment-icon-color: white;
$payment-request-icon-color: white;
$payment-sender-icon-bg-color: red;
$payment-receiver-icon-bg-color: green;
$payment-request-paid-icon-bg-color: green;
$payment-request-pending-icon-bg-color: orange;

// border between conversation list and conversation
$chat-section-separator-color: rgb(230, 230, 230);
$chat-attachment-button-color: $primary-color;
$chat-send-message-button-color: rgb(230, 179, 70);
$chat-message-text-color: black;
$chat-message-info-color: rgba(0, 0, 0, 0.38);
$chat-message-fee-color: red;
$chat-author-name-color: rgb(62, 128, 201);
$chat-scroll-to-bottom-border-color: rgb(200, 200, 200);
$chat-scroll-to-bottom-bg-color: white;

$conversation-search-bg-color: rgb(240, 240, 240);
$conversation-search-color: #1b1b1b;
$conversation-search-border-color: #f6f6f6;
$conversation-search-focused-border-color: $primary-color;

$unread-messages-bg-color: rgb(190, 190, 190);
$unread-messages-fg-color: white;

$channel-bg-color: white;
$channel-meter-bg-color: #555;
$channel-meter-box-shadow-color: rgba(255, 255, 255, 0.3);
$channel-meter-local-bg-color: rgb(43, 194, 83);
$channel-meter-remote-bg-color: rgb(196, 75, 45);

$menu-item-background-color: white;

$fund-address-bg-color: rgb(240, 240, 240);
$fund-address-fg-color: black;
